.form-regnskab
{
    /* safari support */
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;

    /*firefox support*/
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 10px;


    width: 550px;
    padding: 20px;
    margin: 30px auto;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}
.form-title
{
    text-align: center;
}

.form-regnskab h1
{
    /* safari support */
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 10px 10px 0 0;

    /*firefox support*/
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.2);
    -moz-border-radius: 10px 10px 0 0;


    background: #4587f4;
    padding: 20px 20px 30px 20px;
    margin: -20px -20px -20px -20px;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid #257C9E;
    font: bold 36px 'Ubuntu', sans-serif;
}

.form-regnskab .section
{
    font: bold 25px 'Ubuntu', sans-serif;
    color: #4587f4;
    margin-bottom: -50px;
    margin-left: -20px;
    padding: 50px 25px;
}

.form-regnskab .section-inside
{
    margin-left: 5px;
}

.form-regnskab .section span
{
    /*firefox support*/
    -moz-border-radius: 60%;

    /*Safari support*/
    -webkit-border-radius: 60%;

    background: #4587f4;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 60%;
    font-size: 16px;
    margin-left: -40px;
    color: #FFFFFF;
    margin-top: 1px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
}

.form-regnskab label
{
    display: block;
    font: 16px Arial, Helvetica, sans-serif;
    color: #0a0a0a;
    margin-top: 20px;
    padding-top: 5px;
    /*margin-bottom: 50px;*/
}

.form-regnskab input[type="text"],
.form-regnskab input[type="date"],
.form-regnskab input[type="number"],
.form-regnskab textarea,
input[type="text"],
select
{
    /*Firefox support*/
    -moz-border-radius: 5px;
    -moz-box-sizing: border-box;

    /*Safari support*/
    -webkit-border-radius: 5px;
    -webkit-box-sizing: border-box;


    margin-top: 5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);

}

.modal-header
{
    height: 50px;
    background-color: blue;
}

.modal {

}

.form-regnskab textarea
{
    height: 100px;
}

.form-regnskab .selector_knap
{
    width: 100%;
}

.selector_knap select{
    width: 93%;
    display: inline-block;
    float: left;
}

.selector_knap .addbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 28px;
    width: 28px;
    padding: 2px;
}

.form-regnskab input[type="submit"],
.addbutton
{
    /*Firefox support*/
    -moz-border-radius: 5px;
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);

    /*Safari support*/
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;

    background: #4587f4;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font: normal 30px 'bitter', serif;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #257C9E;
    font-size: 15px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
}

.form-regnskab input[type="submit"]:hover,
.topButton:hover
{
    /*Firefox support*/
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);

    /*Safari support*/
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);


    background: #4562f4;
    cursor: pointer;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);

}

#dateOfPurchaseStart, #dateOfPurchaseEnd, #dateOfPurchase{
    margin-bottom: -35px;
}

.addbutton
{
    float: right;
}
.addbutton span{
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addbutton:hover span
{
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Ubuntu;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    font-size: 20px;

}

.twoColumns label
{
    display: inline-block;
    width: 48%;
}

.fourColumns label
{
    display: inline-block;
    width: 30%;
}

.menu
{
    background-color: white;
    alignment: center;
    width: 550px;

    margin: auto;
}

.topButton
{
    /*margin: auto;*/
    background: #4587f4;
    color: #FFFFFF;
    display: inline-block;
    float: top;
    height: 38px;
    margin-top: 7px;
    margin-bottom: -50px;
    width: 49%;
    border-radius: 7px;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.3);
}

.topButton :hover
{

}

#indsendKnap
{
    background: linear-gradient(#12af2f,#23d160);
    filter: brightness(100%);
    background:#12af2f;
    float: right;
    display: block;
    text-align: center;
    border: 2px solid #12af2f;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.20s;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;

}

#indsendKnap:hover
{
    background:#23d160;
    border: 2px solid #23d160;
    color: white;
    filter: brightness(110%);
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    transition: 0.35s;
}

#submitButton
{
    margin: 1px;
    height: 75px;
}

#hej{
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(#12af2f,#23d160);
    filter: brightness(100%);
    background:#12af2f;
    float: right;
    display: block;
    border: 2px solid #12af2f;
    padding: 14px 30px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.20s;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

#hej:hover{
    background:#23d160;
    border: 2px solid #23d160;
    color: white;
    filter: brightness(110%);
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}

#hentDataSumbit{
    text-align: center;
    margin-top: 25px;
    height: 55px;
}